:root {
    --circleColor : yellow; 
    --circleWidth: 20px;
    --circleHeight: 20px;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}


  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    align-items: stretch;
    min-height: 100vh;
    align-items: center;
    background-color: #018DED;

  }

  .circle {
    width: var(--circleWidth);
    height: var(--circleHeight);
    border: 2px solid var(--circleColor);
    border-radius: 50%;  
    position: absolute; 
    box-sizing: border-box;
    margin: 0px;   
  }

  #controlsDiv, #circleSpace {
    height: 100vh;
    border: 2px solid black;
  }
  
  #circleSpace {
    flex: auto;
    background-color: blueviolet;
    border: 2px solid black;
  }

  #numberParagraph {
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: max(16px, 20vw);
    
    position: absolute;
    top: 5vh;
    left: 30vw;
  }